@{
    ViewData["Title"] = "Error";
}

<h1>Error!</h1>
@if (ViewBag.ErrorId == 500)
{
    <h2 class="text-danger">Something went wrong...</h2>
}
else if (ViewBag.ErrorId == 404)
{
    <h2 class="text-danger">Page not found!</h2>
}
else 
{
    <h2 class="text-danger">Something else!</h2>
}
<a asp-action="Index" asp-controller="Home">Go to the main page...</a>
